body {
  color: yellow;
  background-color: black;
  font-size: 17px;
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
  font-weight: 500;
  width: auto;
  height: 750px;
  border-radius: 5%;
  padding: 5px;
  display: inline-table;
  align-items: center;
}

h1 {
  color: green;
  text-align: left;
}

h3 {
  font-stretch: initial;
  font-size: 15px;
}

u {
  color: orange;
}

h4 {
  font-stretch: initial;
  font-size: 14px;
  font-weight: 500;
}

.this {
  text-align: left;
  font-weight: 500;
}

.songs {
  padding-left: 0px;
  text-decoration: orange;
  color: green;
}

.movies {
  padding-left: 0px;
  color: green;
  font-weight: 500;
}

a {
  text-decoration: orange;
}

.foods {
  color: green;
  padding-left: 0px;
  font-weight: 500;
}

.books {
  color: green;
  padding-left: 0px;
  font-weight: 500;
}

ol {
  padding-left: 0px 15px;
}